.container {
    display: flex;    
    height: 300px;
    flex-grow: 1;
    background-color: yellow;
    padding: 0px;
    justify-content: space-between;
}

.item {
    width: 75px;
    height: 75px;
    background-color: purple;
    align-self: center;
    list-style: none;
}