#clock {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
  font-size: 120px;
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
    



