body {
    background-color: grey;
}
.main {
    display: block;
    background-color: green;
    width: 622px;
    height: 589px;
    margin: 7px auto;  
    /* padding: 11px; */
}
.box {
    display: block;
    background-color: yellow;
    border: solid red; size: 9px;
    margin: 3px;
}
.first {
    width: 622px;
    height: 33px;
}
.second {
    display: inline-block;
    width: 295px;
    height: 327px;
}
.third {
    display: inline-block;
    width: 295px;
    height: 327px;
}
.fourth {
    width: 622px;
    height: 138px;    
}