body {
    background-color: grey;
}
.main {
    display: block;
    background-color: green;
    width: 622px;
    height: 589px;
    margin: 7px auto;  
    /* padding: 11px; */
}
.box {
    display: block;
    background-color: yellow;
    border: solid red; size: 9px;
    margin: 3px;
}
.first {
    width: 607px;
    height: 33px;
}
.second {
    display: inline-block;
    width: 295px;
    height: 327px;
    vertical-align: top;
}
.input {
    display: inline-block;
    border: solid black;
    width: 138px;
    height: 45px;
    margin-top: 40%;
}
.third {
    display: inline-block;
    width: 295px;
    height: 327px;
}
.fourth {
    width: 607px;
    height: 138px;  
    margin-top: 30px; 
}