.container {
    display: flex;    
    flex-direction: column;
    height: 600px;
    width: 600px;
    align-items: stretch;
}

.item {
    flex-grow: 1;
}

.green {
    background-color: green;
}

.yellow{
    background-color: yellow;
    flex-grow: 2;
    order: 2;
}

.purple {
    background-color: purple;   
}