* {
    /* border: 1px solid black; */
}
container {
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"left right"
                        "footer footer";
}

.left {
    grid-area: left;
    display: grid;
    grid-template-rows: 90px 30px 1fr;
    grid-template-columns: 1fr 120px;
    grid-template-areas:"logo album"
                        "add album"
                        "playlists playlists";
}



.logo {
    grid-area: logo;
    background: url(foxplayer.png) no-repeat;
    
}

.add {
    grid-area: add;
}

.plus {
    width: 18px;
    height: 18px;
    margin-left: 171px;
}

.album_pic {
    grid-area: album;
}

.playlists {
    grid-area: playlists;
}

.right {
    grid-area: right;
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-areas:"current-track"
                        "tracklist";
}


.current-track {
    grid-area: current-track;
}

.tracklist {
    grid-area: tracklist;
}

footer {
    grid-area: footer;
    background-color:FFFFFF;
    display: flex;
    align-content: center;
    justify-content: center;
}

audio {
    align-self: center;
    background: FFFFFF;
    width: 780px;
}

.revind {
    width: 25px;
    height: 25px;
    background: url(revind.svg) center no-repeat;
    border: none;
}

.forward {
    width: 25px;
    height: 25px;
    background: url(forward.svg) center no-repeat;
    border: none;
}


audio::-webkit-media-controls-play-button {
    margin: 0 2rem;
}

li {
    list-style: none;
}

.active {
    background: rgb(131, 177, 131);
}


.user-input {
    display: block;
    background-color: grey;
    width: 200px;
    height: 80px;
}

.userbox {
    width: 230px;
    height: 100px;
    background-color: gold;
}